{% extends "base.html" %}

{% block titulo %}
Productos
{% endblock titulo %}

{% block contenido %}

<h2 class="color5">PRODUCTOS EN BASE DE DATOS</h2>
<div class="articulos unaColumna">
    <article>
        {% if mensaje != None %}
        <h3>{{ mensaje }}</h3>
        {% endif %}
        <table>
            <thead>
                <tr>
                    <td class="bold">Producto ID</td>
                    <td class="bold">Nro Artículo</td>
                    <td class="bold">Nro Código</td>
                    <td class="bold">Título</td>
                    <td class="bold">Categoría</td>
                    <td class="bold">Imagen ID</td>
                    <td class="bold">Proveedor ID</td>
                </tr>
            </thead>
            <tbody>
                {% for producto in productos %}
                <tr>
                    <td><a href="{{ url_for('ver_detalle', id=producto.id, tipo='producto') }}" title="Ver detalle">{{
                            producto.id }}</a></td>
                    <td><a href="{{ url_for('ver_detalle', id=producto.id, tipo='producto') }}" title="Ver detalle">{{
                            producto.art }}</a></td>
                    <td><a href="{{ url_for('ver_detalle', id=producto.id, tipo='producto') }}" title="Ver detalle">{{
                            producto.cod }}</a></td>
                    <td><a href="{{ url_for('ver_detalle', id=producto.id, tipo='producto') }}" title="Ver detalle">{{
                            producto.tit }}</a></td>
                    <td><a href="{{ url_for('ver_detalle', id=producto.id, tipo='producto') }}" title="Ver detalle">{{
                            producto.cat_id }}</a></td>
                    <td><a href="{{ url_for('ver_detalle', id=producto.id, tipo='producto') }}" title="Ver detalle">{{
                            producto.img_id }}</a></td>
                    <td><a href="{{ url_for('ver_detalle', id=producto.id, tipo='producto') }}" title="Ver detalle">{{
                            producto.prov_id }}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </article>
    <div class="crear">
        <a href="{{ url_for('crear', tipo='producto') }}" class="menuSPA color2">Crear producto</a>
        <a href="{{ url_for('subir_productos') }}" class="menuSPA color2">Subir archivo</a>
    </div>
</div>

{% endblock contenido %}