/* Colores del sitio */

.color1 {
  background-color: #4a8c7a;
  color: whitesmoke;
}

.color2 {
  background-color: #b4d9c4;
  color: black;
}

.color3 {
  background-color: white;
  color: black;
}

.color4 {
  background-color: #d42d07;
  color: whitesmoke;
}

.color5 {
  background-color: #7ba696;
  color: black;
}
